body{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    height: 15px;
    align-items: center;
    padding: 20px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab , #c12121 , gold);
    background-size: 400% 400%;
    color: white;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    25%{
        background-position: 25% 30%;
    }
    50% {
        background-position: 100% 50%;
    }
    75%{
        background-position: 75% 20%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header .logo img {
    width: 80px;
    mix-blend-mode: multiply;
}

header ul {
    display: flex;
    list-style: none;
    flex: 1;
    justify-content: center;
}

header ul li {
    padding: 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
}

header ul li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s , left 0.3s;
}

header ul li a:hover::after {
    width: 100%;
    left: 0;
}

.Register {
    padding: 10px;
    color: white;
    background-color: rgb(207, 207, 7);
    margin: 5px;
    text-decoration: none;
    border-radius: 30px;

    transition: 0.5s ease-in-out;
}

.Register:hover{
    background-color: rgb(255, 225, 0);
    text-shadow: 1px 1px black ;
    box-shadow:  1px 1px black ;
}

.about {
    margin: 5px 5px;
    height: 300px;
    text-align: center;
    background-image: url("/images/background_logo.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 5px;

    display: flex;
    flex-direction: column; 
    justify-content: center;
}


.about h1 {
    color: white;
    font-size: 40px;
    margin: 20px;
    text-shadow: 0 0 3px black;
}

.about p {
    color: white;
    margin: 0;
    font-size: 20px;
    text-shadow: 0 0 3px black;
}
